---
name: deploy-event-dispatcher
on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - build-image-and-push
    types:
      - completed
jobs:
 build:
   name: deploy-event-dispatcher
   runs-on: self-hosted
   steps:
   - name: Checkout
     uses: actions/checkout@v2
 
   - name: deploy-microservices
     run: |
       bash deploy_project.sh